@page
@model BankUI.Pages.Loans.CreateModel

@{
    ViewData["Title"] = "Създай";
}

<h1>Създай</h1>

<h4>Кредит</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Loan.CustomerId" class="control-label"></label>
                <select asp-for="Loan.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Loan.Amount" class="control-label"></label>
                <input asp-for="Loan.Amount" class="form-control" />
                <span asp-validation-for="Loan.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan.Interest" class="control-label"></label>
                <input asp-for="Loan.Interest" class="form-control" />
                <span asp-validation-for="Loan.Interest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan.Term" class="control-label"></label>
                <input asp-for="Loan.Term" class="form-control" />
                <span asp-validation-for="Loan.Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
