@page  
@model BankUI.Pages.Accounts.DeleteModel  

@{  
   // Задаване на заглавие на страницата  
   ViewData["Title"] = "Изтрий";  
}  

<h1>Изтрий</h1>  

<h3>Сигурни ли сте, че искате да изтриете това?</h3>  
<div>  
   <h4>Акаунт</h4>  
   <hr />  
   <dl class="row">  
       <dt class="col-sm-2">  
           <!-- Показване на името на полето за баланс -->  
           @Html.DisplayNameFor(model => model.Account.Balance)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на баланса -->  
           @Html.DisplayFor(model => model.Account.Balance)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на името на полето за клиент -->  
           @Html.DisplayNameFor(model => model.Account.Customer)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на адреса на клиента -->  
           @Html.DisplayFor(model => model.Account.Customer.Address)  
       </dd>  
   </dl>  

   <form method="post">  
       <!-- Скрито поле за идентификатора на акаунта -->  
       <input type="hidden" asp-for="Account.Id" />  
       <!-- Бутон за изтриване -->  
       <input type="submit" value="Delete" class="btn btn-danger" /> |  
       <!-- Връзка за връщане към списъка -->  
       <a asp-page="./Index">Back to List</a>  
   </form>  
</div>
