@page
@model BankUI.Pages.IndexModel

@{
    ViewData["Title"] = "Начало";
}

<!-- logo -->
<img src="logo.png" width="150" height="150" />

<!-- title -->
<h1>Новата Банка 2.0</h1>

<!-- slogan -->
<p>
    Вашият модерен път към финансово спокойствие!“
</p>