@page
@model BankUI.Pages.Cards.DeleteModel

@{
    ViewData["Title"] = "Изтрий";
}

<h1>Изтрий</h1>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Карта</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Account.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Card.CardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.CardType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Card.CardNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
