@page
@model BankUI.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Карти";
}

<h1>Карти</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Добави нова карта</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Сметка на човека
            </th>
            <th>
               Тип карта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Card) {
        <tr>
            <td>
                Номер на сметката
            </td>
            <td>
               Тип на каратата
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CardNumber">Редактирай</a> |
                <a asp-page="./Details" asp-route-id="@item.CardNumber">Детайли</a> |
                <a asp-page="./Delete" asp-route-id="@item.CardNumber">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
